/*
0 - 400px:      Phone (where our normal styles apply)
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
.opacity-full {
  fill-opacity: .95; }

.opacity-moderate {
  fill-opacity: .75; }

/***** CSS reset *****/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  /*The browser standard font size is 16px. I want 1rem to equal 10px. 10px is 62.5% of 16px, hence the setting below. The percentage setting means that screen zooming will work coherently on the page. Thanks to Jonas Schmedtmann for this tip. */
  font-size: 56.25%;
  scroll-behavior: smooth; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* Control positioning of the radio buttons */
.bar-chart {
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
  width: 100%;
  height: 100%; }

.barchart-form {
  display: flex;
  justify-content: center; }

/* Bar chart */
.bar {
  transition: .5s filter; }

.bar:hover {
  filter: brightness(80%); }

.barchart-radio {
  display: none; }

.barchart-label {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center; }

.barchart-radio-btn {
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.barchart-radio-btn::after {
  content: "";
  display: block;
  height: .5rem;
  width: .5rem;
  border-radius: 50%;
  /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
  background-color: rgba(84, 107, 46, 0.5);
  opacity: 0;
  transition: opacity .2s; }

.barchart-label:not(:first-of-type) {
  margin-left: 2.5rem; }

#radio-0:checked ~ label[for='radio-0'] .barchart-radio-btn::after {
  opacity: 1; }

#radio-1:checked ~ label[for='radio-1'] .barchart-radio-btn::after {
  opacity: 1; }

#radio-2:checked ~ label[for='radio-2'] .barchart-radio-btn::after {
  opacity: 1; }

#radio-3:checked ~ label[for='radio-3'] .barchart-radio-btn::after {
  opacity: 1; }

/* Generic - Lines and dots */
.line {
  fill: none;
  stroke-width: 2;
  transition: all .5s; }

.line-selected {
  stroke-width: 4; }

.dot {
  fill: #fff;
  /*pointer-events: none;*/ }

/* Generic - Axes, ticks, grid lines, labels, titles */
.axis .grid-line {
  stroke: rgba(0, 0, 0, 0.5);
  shape-rendering: crispEdges;
  stroke-opacity: .1;
  fill: none; }

.label.x,
.label.y {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  fill: gray;
  fill-opacity: .9; }

.title {
  font-size: 1.6rem;
  fill: black;
  font-weight: 400;
  text-anchor: middle; }

tspan.title.sub-title {
  font-style: italic;
  font-weight: 300;
  font-size: 1.2rem; }

/* Generic - Tooltips  */
.tooltip {
  position: absolute;
  max-width: 20rem;
  height: auto;
  background-color: rgba(255, 255, 255, 0.95);
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  line-height: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 1px;
  box-shadow: 0.5px 1px 2px rgba(0, 0, 0, 0.3);
  pointer-events: none; }

.tooltip h4 {
  padding: .44rem 1rem;
  margin: 0;
  font-size: 1.4rem; }

.tooltip span {
  font-size: 1.2rem;
  font-weight: normal; }

/* Control positioning of the added dropdown menu */
.line-chart {
  grid-column: 3 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
  width: 100%;
  height: 100%; }

select.linechart-select-menu {
  display: block;
  margin: 0 auto;
  font-size: 1.2rem; }

/* SVG map linear gradient */
.stop-bottom {
  stop-color: white; }

.stop-top {
  stop-color: rgba(255, 255, 255, 0); }

.filled {
  fill: url(#map--gradient); }

.constit {
  fill-opacity: 0.6;
  transition: fill-opacity .5s;
  cursor: pointer; }

.constit-rep {
  fill-opacity: 0.4; }

.constit-selected {
  fill-opacity: 1; }

.constit-hovered {
  fill-opacity: 0.8; }

/* Map - Display box */
.main__map--display-box {
  position: absolute;
  top: 13rem;
  right: 1rem;
  font-size: 1.4rem;
  color: #ffffff;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: white;
  text-align: center;
  transition: background 250ms ease-in-out,  transform 150ms ease; }

.main__map--display-btn {
  cursor: pointer; }

.btn:hover {
  background: #616161; }

/* PIE CHART */
.pie-chart {
  grid-column: 4 / span 1;
  margin-bottom: 10rem;
  width: 100%;
  height: 100%; }

.pie-label {
  fill: white;
  font-size: 1.1rem;
  pointer-events: none; }

.legend-text,
.legend,
.arc {
  fill-opacity: 0.8; }

.main__svg--rect {
  stroke: white; }

.main__svg-label--year {
  fill-opacity: .6;
  font-size: 1.4rem;
  font-family: sans-serif; }

.main__svg-label--box {
  stroke: none;
  fill: black; }

.main__svg-legend--text {
  font-size: 1.2rem;
  font-weight: 300; }

.layout-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(5, min-content); }

.footer {
  grid-row: 5 / span 1;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  color: white;
  letter-spacing: 2px;
  padding: 20rem 8rem 4rem;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }
  .footer a:link,
  .footer a:visited {
    text-decoration: none;
    color: white;
    transition: all .5s; }
    .footer a:link:hover,
    .footer a:visited:hover {
      color: rgba(211, 47, 47, 0.75); }

.header {
  grid-row: 1 / span 1;
  width: 100%;
  height: 100%;
  background-color: #2a2c39;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  line-height: 2;
  letter-spacing: .3rem;
  color: white;
  text-align: center;
  padding: 10rem 2rem;
  margin-bottom: 10rem;
  z-index: 1; }
  .header span {
    color: rgba(211, 47, 47, 0.75); }
  .header__paragraph {
    font-size: 2.5rem; }
  @media only screen and (min-width: 56.25em) {
    .header {
      margin-bottom: 3rem; } }

.main {
  grid-row: 2 / span 1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(4rem, 0.25fr) 50% 2fr minmax(4rem, 0.25fr);
  grid-template-rows: 20rem 1fr;
  justify-items: center;
  align-items: center;
  padding: 10rem 0; }
  .main__dynamic {
    grid-row: 1 / span 1;
    grid-column: 2 / span 2;
    width: 100rem;
    height: 100%;
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(3, repeat(3, 1fr));
    grid-template-rows: 1fr 2fr;
    grid-row-gap: 2.5rem;
    justify-items: center; }
    .main__dynamic--block {
      display: flex;
      flex-direction: column; }
    .main__dynamic--block:nth-child(1), .main__dynamic--block:nth-child(2), .main__dynamic--block:nth-child(3) {
      grid-row: 1 / span 1; }
    .main__dynamic--block-constits {
      grid-row: 2 / span 1;
      grid-column: 1 / span 3;
      justify-self: end; }
    .main__dynamic--list {
      list-style: none;
      column-count: 2;
      column-gap: 3rem;
      margin-top: 1.5rem; }
    .main__dynamic--list-item {
      font-size: 1.6rem;
      font-style: italic;
      color: rgba(0, 0, 0, 0.6); }
    .main__dynamic--heading {
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 400; }
    .main__dynamic--para {
      font-size: 4rem;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.6); }
  .main__svg--title {
    font-size: 1.3rem; }
  .main__constit {
    display: none; }
  .main__chart {
    width: 100%;
    height: auto;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1; }
  .main__map {
    width: 100%;
    height: auto;
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
    margin-top: 8rem; }

.profile {
  grid-row: 3 / span 1;
  width: 100%;
  height: 30rem;
  overflow: hidden;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), url(../img/map-belfast.jpg));
  background-image: url(../img/map-belfast.jpg); }

.updateable-charts {
  width: 100%;
  height: 100%;
  grid-row: 4 / span 1;
  padding-top: 10rem;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: minmax(2rem, 0.25fr) repeat(3, 1fr) minmax(2rem, 0.25fr);
  grid-column-gap: 2rem; }
