.main {
    grid-row: 2 / span 1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(4rem, .25fr) 50% 2fr minmax(4rem, .25fr);
    grid-template-rows: 20rem 1fr;

    justify-items: center;
    align-items: center;

    padding: 10rem 0;
    
    // @include respond(tab-port) {

    //     grid-template-columns: 40% 60%;
    //     grid-template-rows: 20rem 1fr;

    //     .main__board { 
    //         grid-row: 1 / span 1;
    //         grid-column: 1 / span 2;
    //         margin: 0;
    //     }

    //     .main__chart,
    //     .main__map { 
    //         grid-row: 2 / span 1;
    //         width: 80%;
    //     }

    //     .main__chart {
    //         margin-top: 10rem;
    //         margin-left: 20rem;
    //     }

    //     .main__home,
    //     .main__dynamic {
    //         grid-row: 1 / span 1;
            
    //     }

    //     .main__map {
    //         margin-right: 5rem;
    //     }
        
    // }

    // @include respond(tab-land) {
    //     .main__map {
    //         margin-top: -4rem;
           
    //     }
    // }

    

    &__dynamic {
        grid-row: 1 / span 1;
        grid-column: 2 / span 2;
        width: 100rem;
        height: 100%;
        margin-top: 10rem;

        display: grid;
        grid-template-columns: repeat(3, repeat(3, 1fr));
        grid-template-rows: 1fr 2fr;
        grid-row-gap: 2.5rem;
       
        justify-items: center;
        
        
        &--block {
            display: flex;
            flex-direction: column;
            //align-items: center;
        }
        
        &--block:nth-child(1),
        &--block:nth-child(2),
        &--block:nth-child(3) {
            grid-row: 1 / span 1;  
        }

        &--block-constits {
            grid-row: 2 / span 1;
            grid-column: 1 / span 3;  
            justify-self: end;  
        }

        &--list {
            list-style: none;
            column-count: 2;
            column-gap: 3rem;
            margin-top: 1.5rem;
        }

        &--list-item {
            font-size: 1.6rem;
            font-style: italic;
            color: rgba(0, 0, 0, 0.6);
        }

        &--heading {
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 400;
        }

        &--para {
            font-size: 4rem;
            font-weight: 300;
            color: rgba(0, 0, 0, 0.6);
        }

    }

    &__svg--title {
        font-size: 1.3rem;
    }

    &__svg,
    &__map-svg {
       
    }

    &__constit {
        display: none;
    }

    &__chart {
        width: 100%; // Mobile setting
        height: auto;
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
    }

    &__map {
       width: 100%; // Mobile setting
       height: auto;
       grid-row: 2 / span 1;
       grid-column: 3 / span 1;
       margin-top: 8rem;
       
    }

    
}