/* Control positioning of the radio buttons */

.bar-chart {
    display: grid;
    justify-items: center;
    
}

.barchart-form {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

/* Bar chart */
.bar {
    transition: .5s filter;
}

.bar:hover {
    filter: brightness(80%);
}



.barchart-radio {
    display: none;
}

.barchart-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-style: italic;
    position: relative;
    /*margin-top: 20px;*/
    cursor: pointer;
}

.barchart-radio-btn {
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: .6rem;
    top: 2.5rem;

    display: grid;
    justify-items: center;
    align-items: center;
}

.barchart-radio-btn::after {
    content: "";
    display: block;
    height: .7rem;
    width: .7rem;
    border-radius: 50%;
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    background-color: rgba(33%, 42%, 18%, .5);
    opacity: 0;
    transition: opacity .2s;
}

.barchart-label:not(:first-of-type) {
    margin-left: 2rem;
}



#radio-0:checked ~ label[for='radio-0'] .barchart-radio-btn::after {
    opacity: 1;
}

#radio-1:checked ~ label[for='radio-1'] .barchart-radio-btn::after {
    opacity: 1;
}

#radio-2:checked ~ label[for='radio-2'] .barchart-radio-btn::after {
    opacity: 1;
}

#radio-3:checked ~ label[for='radio-3'] .barchart-radio-btn::after {
    opacity: 1;
}
