/* Control positioning of the radio buttons */

.bar-chart {
    //grid-column: 2 / span 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
    width: 100%;
    height: 100%;
    
}



.barchart-form {
    // margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

/* Bar chart */
.bar {
    transition: .5s filter;
}

.bar:hover {
    filter: brightness(80%);
}



.barchart-radio {
    display: none;
}

.barchart-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-style: italic;
    position: relative;
    cursor: pointer;
    //padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barchart-radio-btn {
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    // display: inline-block;
    // position: absolute;
    // left: 0;
    // top: 3rem;


    // display: grid;
    // justify-items: center;
    // align-items: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.barchart-radio-btn::after {
    content: "";
    display: block;
    height: .5rem;
    width: .5rem;
    border-radius: 50%;
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    background-color: rgba(33%, 42%, 18%, .5);
    opacity: 0;
    transition: opacity .2s;
}

.barchart-label:not(:first-of-type) {
    margin-left: 2.5rem;
}



#radio-0:checked ~ label[for='radio-0'] .barchart-radio-btn::after {
    opacity: 1;
}

#radio-1:checked ~ label[for='radio-1'] .barchart-radio-btn::after {
    opacity: 1;
}

#radio-2:checked ~ label[for='radio-2'] .barchart-radio-btn::after {
    opacity: 1;
}

#radio-3:checked ~ label[for='radio-3'] .barchart-radio-btn::after {
    opacity: 1;
}

#radio-4:checked ~ label[for='radio-4'] .barchart-radio-btn::after {
    opacity: 1;
}
