/* Generic - Lines and dots */

.line {
    fill: none;    
    stroke-width: 2;
    transition: all .5s;
}

.line-selected {
    stroke-width: 4;
}

.dot {
  fill: #fff;
}

/* Generic - Axes, ticks, grid lines, labels, titles */

.axis .grid-line {
    stroke: rgba(0, 0, 0, .5);
    shape-rendering: crispEdges;
    stroke-opacity: .1;
    fill: none;
}

.label.x,
.label.y {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    fill: gray;
    fill-opacity: .9;
}

.title {
    font-size: 1.6rem;
    fill: black;
    font-weight: 400;
    text-anchor: middle;
    // letter-spacing: 3px;
}

tspan.title.sub-title {
    font-style: italic;
    font-weight: 300;
    font-size: 1.2rem;
}

/* Generic - Tooltips  */

.tooltip {
    position: absolute;
    max-width: 20rem;
    height: auto;
    background-color: rgba(255, 255, 255, .95);
    color: rgba(0, 0, 0, .7);
    text-align: center;
    line-height: 2rem;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 1px;
    box-shadow: .5px 1px 2px rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

.tooltip h4 {
    padding: .44rem 1rem;
    margin: 0;
    font-size: 1.4rem;
}

.tooltip span {
    font-size: 1.2rem;
    font-weight: normal;
}
