/* Control positioning of the added dropdown menu */
.line-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
	margin-bottom: 10rem;
    width: 100%;
    height: 100%;
}

select.linechart-select-menu {
	display: block;
    margin: 1rem auto;
    font-size: 1.2rem;
}