/* SVG map linear gradient */

.stop-bottom {
    stop-color: rgba(255, 255, 255, 1); 
}

.stop-top {
    stop-color: rgba(255, 255, 255, 0);  
}

.filled {
    fill: url(#map--gradient);
}

.constit {
    fill-opacity: 0.6;
    transition: fill-opacity .5s;
    cursor: pointer;
}

.constit-rep {
    fill-opacity: 0.4;
}

.constit-selected {
    fill-opacity: 1;
}

.constit-hovered {
    fill-opacity: 0.8;
}

/* Map - Display box */

.main__map--display-box {
    position: absolute;
    top: 13rem;
    right: 1rem;
    font-size: 1.4rem;
    color: #ffffff;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: white;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
}

.main__map--display-btn {
    cursor: pointer;;
}

.btn:hover {
    background: #616161;
}