.rect {
	stroke: white;
}

.label--year {
	//fill: black;
	fill-opacity: .6;
	font-size: 1.6rem;
	font-family: sans-serif;
	text-anchor: middle;

}

.label--box {
    stroke: none;
    fill: black;
}

.legend--rect {
	fill-opacity: .75;
	transition: .5s fill-opacity;
}

.legend--rect:hover {
	fill-opacity: .95;
}

.legend--body {

        .legend--text {
            font-size: 1.2rem;
            font-weight: 300;
        }
    }