.main__svg--rect {
	stroke: white;
}

.main__svg-label--year {
	fill-opacity: .6;
	font-size: 1rem;
	font-family: sans-serif;

}

.main__svg-label--box {
    stroke: none;
    fill: black;
}



.main__svg-legend--text {
    font-size: 1.2rem;
    font-weight: 300;
}
    